<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>

<body align="center">
    <h1>Edit Product</h1>

    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= product.name %>">
        <br>
        <br>
        <label for="brand">Brand</label>
        <input type="text" name="brand" id="brand" value="<%= product.brand %>">
        <br>
        <br>
        <label for="price">Price</label>
        <input type="number" name="price" id="price" value="<%= product.price %>">
        <br>
        <br>
        <label for="color">Color</label>
        <input type="text" name="color" id="color" value="<%= product.color %>">
        <br>
        <br>
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="Baju" <%= product.category == 'Baju' ? "selected" : "" %> >Baju</option>
            <option value="Celana" <%= product.category == 'Celana' ? "selected" : "" %>>Celana</option>
            <option value="Aksesoris" <%= product.category == 'Aksesoris' ? "selected" : "" %>>Aksesoris</option>
            <option value="Jaket" <%= product.category == 'Jaket' ? "selected" : "" %>>Jaket</option>
            <option value="Sepatu" <%= product.category == 'Sepatu' ? "selected" : "" %>>Sepatu</option>
        </select>
        <br>
        <br>
        <button>Submit</button>
        <button><a style="text-decoration: none;" href="/products">Kembali</a></button>
    </form>
</body>

</html>
