<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Detail Products</title>
</head>

<body>
  <h1>Detail Products <%= product.name %>
  </h1>

  <ul>
    <li>Brand: <%= product.brand %>
    </li>
    <li>Color: <%= product.color %>
    </li>
    <li>Size: <%= product.size %>
    </li>
    <li>Price:Rp.<%= product.price %>
    </li>
  </ul>

  <a href="/products">
    <h3>All Product</h3>
  </a>
</body>

</html>
